{% extends 'base.html.twig' %}

{% block title %}LADOUDOUNE{% endblock %}

{% block nav %}
    <header>
        <div id="header">
            <a id="logotitre">
                <h1>
                    LADOUDOUNE
                </h1>
            </a>
        </div>

        <nav id="test">
            <a id="logotitre">
                <h3>
                    LADOUDOUNE
                    <img id="logoImage" src="images/580b585b2edbce24c47b2646.png" class="d-inline-block align-top" alt="">
                </h3>
            </a>
        </nav>
        <nav>
            <a href="{{ path('default') }}">Accueil</a>
            <a href="">Vos besoins</a>
            <a href="">Nos services</a>
            <a href="{{ path('blog') }}">Le saviez-vous ?</a>
            <a href="">Nous connaître</a>
            <a href="{{ path('contact') }}">Nous contacter</a>
        </nav>
    </header>
{% endblock nav %}


{% block accueil %}

{% endblock accueil %}
