/* html, body{
  overflow: auto;
} */
.headblog{
  position: relative;
  top: 150px;
}
h1{
  font-family: 'gruppo';
  font-weight: bolder;
}
.blog{
  /* border: 0.5px solid rgb(220, 220, 250); */
  position: relative;
  top: 200px;
  height: 400px;
}
/* .col-4{
  border: 0.5px solid rgb(220, 220, 250);
} */
.card{
  /* box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66); */
  box-shadow: 0px 4px 24px -2px rgba(67,67,67,0.81);
  -webkit-box-shadow: 0px 4px 24px -2px rgba(67,67,67,0.81);
  -moz-box-shadow: 0px 4px 24px -2px rgba(67,67,67,0.81);
  -o-box-shadow: 0px 4px 24px -2px rgba(67,67,67,0.81);
  border-radius: 20px;
  margin-bottom: 30px;
  height: 450px;
  overflow: hidden;
}
.card-img-top{
  max-height: 200px;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
}
.card:hover {
  transform: scale(1.1);
}
.card-body p{
  line-height: 1.5;
}
.card-text{
  height: 200px;
}
.scroll{
  max-height: 140px;
  overflow-y: auto;
}
h5{
  font-family: 'Lobster';
}

