@import '~js-datepicker/dist/datepicker.min.css';
/* html, body{
  overflow: auto;
} */
.headblog{
  position: relative;
  top: 150px;
}
h1{
  font-family: 'gruppo';
  font-weight: bolder;
}
.blog{
  /* border: 0.5px solid rgb(220, 220, 250); */
  position: relative;
  top: 200px;
  height: 400px;
}
/* .col-4{
  border: 0.5px solid rgb(220, 220, 250);
} */
.card{
  /* box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66); */
  box-shadow: 0px 4px 24px -2px rgba(67,67,67,0.81);
  -webkit-box-shadow: 0px 4px 24px -2px rgba(67,67,67,0.81);
  -moz-box-shadow: 0px 4px 24px -2px rgba(67,67,67,0.81);
  -o-box-shadow: 0px 4px 24px -2px rgba(67,67,67,0.81);
  border-radius: 20px;
  margin-bottom: 30px;
  height: 450px;
  overflow: hidden;
}
.card-img-top{
  max-height: 200px;
  object-fit: cover;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
}
.card:hover {
  transform: scale(1.1);
}
.card-body p{
  line-height: 1.5;
}
.card-text{
  height: 200px;
}
.scroll{
  max-height: 140px;
  overflow-y: auto;
}
h5{
  font-family: 'Lobster';
}
.tags{
  position: relative;
  display: inline-block;
  margin-right: 10px;
  font-size: small;
  border: solid 0.3px rgb(189, 189, 189);
  padding: 5px;
  /* border-radius: 10px; */
  cursor: pointer;
}



.details,
.details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.details ul li {
  display: inline-block;
}

.details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}
.details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}
.details .tags li {
  margin-right: 2px;
}
.details .tags li:first-child {
  margin-left: -4px;
}