body {
  background-color: rgb(250, 250, 250);
}
#titreContact {
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
  font: 2.7vw 'Lobster';
}
.row {
  text-align: center;
  position: relative;
  width: 100%;
  padding-right: 12vw;
  padding-left: 10vw;
}

.card {
  width: 100%;
  background-color: #f7f6fb;
  border-radius: 12px;
  box-shadow: -10px 50px 48px #555;
  position: relative;
  border-left: solid 3px;
  border-top: none;
  border-right: none;
  border-bottom: solid 3px;
  border-color: rgb(63, 63, 66);  
  overflow: hidden;
  transform-origin: center center -130px;
  transition: all 0.5s ease-out;
  animation-name: animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform: perspective(1000px) rotateX(70deg) rotateY(4deg) rotateZ(-40deg);
  -moz-transform-origin: center center -130px;
  -moz-transition: all 0.5s ease-out;
  -moz-animation-name: animate;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform: perspective(1000px) rotateX(70deg) rotateY(4deg) rotateZ(-40deg);
  -webkit-transform-origin: center center -120px;
  -webkit-transition: all 0.5s ease-out;
  -webkit-animation-name: animate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform: perspective(1000px) rotateX(70deg) rotateY(4deg) rotateZ(-40deg);
  -o-transform-origin: center center -130px;
  -o-transition: all 0.5s ease-out;
  -o-animation-name: animate;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-transform: perspective(1000px) rotateX(70deg) rotateY(4deg) rotateZ(-40deg);
}

.card:hover {
  cursor: pointer;
  animation: unset;
  margin-top: -7vh;
  z-index: 100;
  box-shadow: 60px 25px 55px rgb(90, 90, 90) ;
  border-right: solid 1px;
  border-left: none;
  border-bottom: solid 3px;
  border-color: rgb(63, 63, 66);
  border-width: 3px;
  transform: perspective(1000px) rotateX(15deg) rotateY(-3deg) rotateZ(0deg);
  -moz-transform: perspective(1000px) rotateX(15deg) rotateY(-3deg) rotateZ(0deg);
  -webkit-transform: perspective(1000px) rotateX(15deg) rotateY(-3deg) rotateZ(0deg);
  -o-transform: perspective(1000px) rotateX(15deg) rotateY(-3deg) rotateZ(0deg);

}

img {
  width: 100%;
  height: 380px;
}

#imgTelephone {
  object-fit: contain;
}

#imgMail {
  object-fit: fill;
}

#imgOpen {
  object-fit: fill;
}

.view {
  overflow: hidden;
  height: 350px;
}

p {
  text-align: center;
  color: black;
  font-size: 2.2vh;
  font-family: 'Lobster';
}

h3 {
  margin-top: 5vh;
  text-align: center;
  color: black;
  font-family: 'Lobster';
  position: relative;
}


