{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block contact %}

	<div>
		<h1 id="titreContact">Comment souhaitez-vous nous contacter ?</h1>
	</div>
	

	<div class="row row-cols-1 row-cols-md-3">
		<div class="col mb-4">
			<!--Title-->
			<h3 class="card-title">Nous téléphoner :</h3>
			<div class="card h-100">
				<!--Card image-->
				<div class="view overlay">
					<img id="imgTelephone" class="card-img-top" src="images/telephone/quino-al-8gWEAAXJjtI-unsplash.jpg" alt="">
				</div>
				<!--Card content-->
				<div class="card-body">
					<!--Text-->
					<p class="card-text">Nous sommes joignables aux heures de bureau soit au<br>06 15 77 07 42<br>ou au<br>06 84 62 33 30</p>
				</div>
			</div>
		</div>
	
		<div class="col mb-4">
			<!--Title-->
			<h3 class="card-title">Nous envoyer un mail :</h3>
			<div class="card h-100">
				<div class="view overlay">
					<img id="imgMail" class="card-img-top" src="images/mail/bloggif_5e7fbb82285c8.jpeg" alt="">
				</div>
				<!--Card content-->
				<div class="card-body">
					<!--Text-->
					<p class="card-text">Vous pouvez nous écrire à l'adresse suivante :<br>
						contact@ladoudoune.com<br>
					Si vous voulez le faire de-suite, c'est par ICI</p>
				</div>
			</div>
		</div>
	
		<div class="col mb-4">
			<!--Title-->
			<h3 class="card-title">Venir boire un café :</h3>
			<div class="card h-100">
				<div class="view overlay">
					<img id="imgOpen" class="card-img-top" src="images/open/free-to-use-sounds-725DKjKWbAw-unsplash.jpg" alt="">
				</div>
				<!--Card content-->
				<div class="card-body">
					<!--Text-->
					<p class="card-text">Vous aimeriez venir nous voir directement ?<br>Pas de soucie, un café vous attend à cette adresse :</p>
				</div>
			</div>	
		</div>
	</div> 


	
{% endblock contact %}

