<!-- ////////////////// CARDS //////////////////////////////////////////////////////// -->
<div class="row row-cols-1 row-cols-md-3">
	<div class="col mb-4">
		<div class="card h-100">
			<!--Card image-->
			<div class="view overlay">
				<img id="imgTelephone" class="card-img-top" src="images/telephone/quino-al-8gWEAAXJjtI-unsplash.jpg" alt="">
			</div>

			<!--Card content-->
			<div class="card-body">
				<!--Title-->
				<h3 class="card-title">Par téléphone :</h3>
				<!--Text-->
				<p class="card-text">Nous sommes joignable aux heures de bureau soit au<br>06 15 77 07 42<br>ou au<br>06 84 62 33 30</p>
			</div>
		</div>
	</div>

	<div class="col mb-4">
		<div class="card h-100">
			<div class="view overlay">
				<img id="imgMail" class="card-img-top" src="images/mail/bloggif_5e7fbb82285c8.jpeg" alt="">
			</div>
			<!--Card content-->
			<div class="card-body">
				<!--Title-->
				<h3 class="card-title">Nous envoyer un mail :</h3>
				<!--Text-->
				<p class="card-text">Vous pouvez nous écrire à l'adresse suivante :<br>
					contact@ladoudoune.com<br>
				Si vous voulez le faire de-suite, c'est par ICI</p>
			</div>
		</div>
	</div>

	<div class="col mb-4">
		<div class="card h-100">
			<div class="view overlay">
				<img id="imgOpen" class="card-img-top" src="images/open/free-to-use-sounds-725DKjKWbAw-unsplash.jpg" alt="">
			</div>
			<!--Card content-->
			<div class="card-body">
				<!--Title-->
				<h3 class="card-title">Venir boire un café avec nous :</h3>
				<!--Text-->
				<p class="card-text">Vous aimeriez venir nous voir directement ?<br>Pas de soucie, un café vous attend à cette adresse :</p>
			</div>
		</div>	
	</div>
</div> 
<!-- //////////////////////////////////////////////////////////////////////////////////////////  -->



<div class="wrapper">

	<div class="container" id="c0">
		<div class="image" id="i0">
			<img src="images/mail/mikaela-wiedenhoff-AwmCuTXL97Q-unsplash.jpg" alt="">
		</div>
		<div class="story" id="s0">
			<div class="info">
                <h3>Nous envoyer un mail :</h3>
                <p>Vous pouvez nous écrire à l'adresse suivante :<br>
                contact@ladoudoune.com<br>
            Si vous voulez le faire de-suite, c'est par <a href="mailto:contact@ladoudoune.com">ICI</a></p>
            </div>
		</div>
	</div>
	<div class="container" id="c1">
		<div class="image" id="i1">
			<div class="city">
				<img src="images/open/free-to-use-sounds-725DKjKWbAw-unsplash.jpg" alt="">
			</div>
		</div>
		<div class="story" id="s1">
			<div class="info">
				<h3>Venir nous voir :</h3>
			    <p> Stonehenge is a prehistoric monument in Wiltshire, England. It was constructed in several stages between 3000 and 1500 B.C., spanninng to the Bronze Age.</p>
			</div>
		</div>
	</div>
	<div class="container" id="c2">
		<div class="image" id="i2">
			<img src="images/telephone/quino-al-4SNUcHPiC8c-unsplash.jpg" alt="">
		</div>
		<div class="story" id="s2">
			<div class="info">
                <h3>Nous téléphoner :</h3>
                <p> The Leaning Tower of Pisa or simply the Tower of Pisa is the campanile, or freestanding bell tower, of the cathedral of the Italian city of Pisa, known worldwide for its unintended tilt</p>
			</div>
		</div>
	</div>


</div>