{% extends 'base.html.twig' %}

{% block title %}Editer un article{% endblock %}

{% block article %}
    <h1>Éditer un article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('article_index') }}">Revenir à la liste</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
